<div class="timeline-events-page">
	<div class="line-break"></div>

	<%= link_to "+ timeline event", new_timeline_event_path, :class=> "button" %>
	<%= link_to "+ game", new_game_path, :class=> "button" %>
	<%= link_to "+ system", new_system_path, :class=> "button" %>
	<%= link_to "+ image", new_image_link_path, :class=> "button" %>

	<table class="my_events">
		<thead>
			<tr>
				<th>game name</th>
				<th>start date</th>
				<th>end date</th>
			</tr>
		</thead>
		<tbody>
		<% @timeline_events.each do |event| %>
			<tr>
				<td><%= link_to event.game.name, edit_timeline_event_path(event.id) %></td>
				<td><%= event.start_date %></td>
				<td><%= event.end_date %></td>
			</tr>
		<% end %>
		</tbody>
	</table>

</div>