<div class="new_timeline_event_page">
	<div class="line-break"></div>
		<%= simple_form_for @timeline_event, html: {:id => "new_timeline_event_form"} do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<label for="game_name" class="pull-left label">Search Games</label>
			<input type="text" class="game_search input-field pull-left clear" name="game_name">
			<div id="game_id"></div>
			<%= f.input :start_date, :start_year => 2005, :end_year => Date.today.year %>
			<%= f.input :end_date, :start_year => 2005, :end_year => Date.today.year %>
			<%= f.button :submit, :value => "create timeline event", :class=> "button pull-left clear" %>
		<% end %>
</div>

<%= link_to "Back", :back, :class => "button pull-left clear remove_text_dec" %>
